* {
    box-sizing: border-box;
}

.container {
    background-color: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;    
    margin: 40px;
    display: grid;
    grid-template-columns: repeat(2, [col] 2fr ) ;
	grid-template-rows: repeat(2, [row] auto  );
}

.header {
    grid-column: col / span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.header__logo {
    font-size: 3em;
    color: #de840c;
}

.header__menu ul {
    display: flex;
    list-style-type: none;
}

.header__menu li {
    flex: 1 1 100px;
}

.header__menu-nounderscore {
    text-decoration: none;
}

.header__menu-bg {
    font-size: 2em;
}

.main {
    grid-column: 1 / -1;
    margin-left: 5%;
    margin-top: 5%;
}

.main__text {
    font-size: 3em;
    margin-bottom: 0;
}

.main__motto {
    margin-bottom: 40px;
}

.main__btn {
    padding: 20px;
    background-color: #ffd700;
    margin-right: 10px;
    color: #fff;
    font-size: large;
    outline: none;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .header__menu li:not(:first-child) {
        display: none;
    }
}